* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

h1{
  font-weight: 800;
  color:black;
}
.nav-link {
  color: white;
  font-weight: 700;
}

.navbar-brand {
  color: white;
  font-weight: 700;
  padding-left: 20px;
}

.navbar li {
  padding: 0 10px;
}

.navbar-nav,
.navbar-nav .nav-item:hover .nav-link {
  color: black;
}

.fa-bars {
  font-size: 30px;
  color: white;
}

.btn{
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  padding: 1rem 2.3rem;
  border-radius: 3rem;
  cursor: pointer;
}

.navbar {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #ffff;
}

.title{
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.main-image {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url("images/main.jpg") center/cover no-repeat fixed;
  position: relative;
  margin-top: auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#video-section{
  padding: 2rem;
}
.video-image {
  width: 80%;
  min-height: 80%;
}

.video-frame{
display:block;
margin:auto;
}
#cards {
  padding: 2rem;
}

.row-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-body {
  text-align: center;
  padding: 50px 10px;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  color: #fff;
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}

.title2 {
  align-items: center;
  font-weigt: 900;
  padding: 2rem;
}

.title2 h1 {
  font-size: 3rem;
  font-weight: 800;
  padding: 2rem;
}

table{
    padding: 2rem;
}

.title3{
font-weight: 800;
text-align: center;
}

.flow{
width:200px;
height:200px;
border:2px solid #fff;
-moz-box-shadow: 0px 6px 5px #ccc;
-webkit-box-shadow: 0px 6px 5px #ccc;
box-shadow: 0px 6px 5px #ccc;
-moz-border-radius:200px;
-webkit-border-radius:200px;
border-radius:200px;
}

.work{
  display:block;
  margin:auto;
  text-align: center;
}

.arrow{
  padding-top:5rem;
}
.text{
    padding-top:2rem;

}

.live{
  padding:2rem;
}


.live-video{
  width: 20rem;
  padding:2rem;
  display: block;
  margin: auto;

}

.card-img-bottom{
  width:10px;
  height:10px;
  padding:1rem;
}

.play-btn{
background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
border-radius: 50%;
padding:2rem;
}

.icon{
  width:100px;
  height:100px;
  padding:1rem;
  float: left;
  clear: left;
}

.icons{
  display:block;
  margin:auto;
}

.title4{
  padding:2rem;
  text-align:center;
  font-weight: 800;
}


.btn3{
  padding:2rem;
}

#myDIV {
  display:none;
}

.carbg{
background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.content{
  text-align:center;
  display: block;
  margin: auto;
  color:white;
  padding:2rem;

}


.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  padding:1rem;
}

.card-header{
  background: #2c3a47;
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #74b9ff;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover{
  color:#74b9ff ;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #74b9ff;
  border: 2px solid #74b9ff;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #74b9ff;
  color: #f2f2f2;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.testimonial-text {
  font-size:2rem;
  color:white;
  font-weight: 400;
  text-align: center;
}
.slider{
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)),url("images/bgm.jpg") center/cover no-repeat fixed;
}
.carousel-item {
  padding: 7% 15%;
}
